##################################################################
###                         MACROS                             ###
##################################################################

[idle_timeout]
timeout: 1800
gcode:
  POWEROFF_PRINTER


[gcode_macro POWEROFF_PRINTER]
gcode:
  # Moonraker action
  {action_call_remote_method('set_device_power',
                             device='Printer',
                             state='off')}
                             
[gcode_macro PRINT_START_PHASE_1]
gcode:
  M107
  BED_MESH_CLEAR
  G28
  Z_TILT_ADJUST
  BED_MESH_PROFILE LOAD=default
  SET_Z_FROM_PROBE method=tap
  SKEW_PROFILE LOAD=calilantern_skew_profile

[gcode_macro PRINT_START_PHASE_2]
gcode:
  G21 ;metric values
  G90 ;absolute Positionierung
  M82 ;Extruder in den absoluten Modus setzen
  M107 ;Luefter aus
  G92 E0 ;Extruderlaenge nullen

  G0 Z1.5 F300 ; move z up little to prevent scratching of surface
  G0 X0 Y340 F15000 ; move to start-line position
  G0 Z0.6 F120 ; move to start-line position
  G92 E0                 ; reset extruder
  G0 Z0.6 E5  F600 ; move to start-line position
  G92 E0                 ; reset extruder
  G1 X150   F1800 E12  ; draw 1st line
  G92 E0                 ; reset extruder
  G1 Y339.5 F1200        ; move to side a little
  G1 X50.0  F1800 E8 ; draw 2nd line
  G92 E0                 ; reset extruder
  G1 Y339 F1200        ; move to side a little
  G1 X150   F1800 E8  ; draw 3rd line
  G92 E0                 ; reset extruder

[gcode_macro PRINT_END]
gcode:
  {% set x_max = printer.toolhead.axis_maximum.x %}
  {% if x_max < 0 %}
    {% set x_max = 0 %}
  {% endif %}
    
  {% set y_max = printer.toolhead.axis_maximum.y %}
  {% if y_max < 0 %}
    {% set y_max = 0 %}
  {% endif %}
  
  G4 P500
  
  
  M104 S0 # Turn off extruder heater
  M140 S0 # Turn off bed heater
  M141 S0 # Turn off chamber heater
  
  G4 P500 
  
  G91 # Relative Position
  G1 Z+10.5
  G1 E-1 F400  # Filament Retract
  G1 Z+10.5 E-2 F180 # Lower bed and retract filament
  G90 # Absolute Position
  #G1 X300 F6000
  #G1 Y260 F6000
  G0 X{x_max} Y{y_max} F1200

  M107 # Turn off part fan
  SET_SKEW CLEAR=1
  M84 # Turn stepper motors
  
[gcode_macro _RELOAD_Z_OFFSET_FROM_PROBE]
gcode:
  {% set Z = printer.toolhead.position.z %}
  SET_KINEMATIC_POSITION Z={Z - printer.probe.last_probe_position.z}
  M118 Z adjust {Z} -> {Z - printer.probe.last_probe_position.z}
  
[gcode_macro SET_Z_FROM_PROBE]
gcode:
  {% set METHOD = params.METHOD | default("automatic") %}
  
  G1 X150 Y150 F9000
  
  PROBE METHOD={METHOD}
  _RELOAD_Z_OFFSET_FROM_PROBE
  G0 Z10


  
[gcode_macro BED_MESH_CALIBRATE]
description: Homes printer, then runs the original BED_MESH_CALIBRATE METHOD=RAPID_SCAN
rename_existing: _BED_MESH_CALIBRATE
gcode:
    {% if 'xyz' not in printer.toolhead.homed_axes %}
        G28
    {% else %}
        RESPOND MSG="Printer already homed"
    {% endif %}
    
    Z_TILT_ADJUST
    G28 Z
# Optionally, replace G28 in your start_print with SMART_HOME

  _BED_MESH_CALIBRATE METHOD=RAPID_SCAN HORIZONTAL_MOVE_Z=2.5
  G28 Z

[gcode_macro TEST_SPEED]
# Home, get position, throw around toolhead, home again.
# If MCU stepper positions (first line in GET_POSITION) are greater than a full step different (your number of microsteps), then skipping occured.
# We only measure to a full step to accomodate for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

description: Test for max speed and acceleration parameters for the printer. Procedure: Home -> ReadPositionFromMCU -> MovesToolhead@Vel&Accel -> Home -> ReadPositionfromMCU

gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Minimum Cruise Ratio
    {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = params.BOUND|default(20)|int %}
    # Size for small pattern box
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}
    
    # Large pattern
        # Max positions, inset by BOUND
        {% set x_min = printer.toolhead.axis_minimum.x %}
        {% if x_min < 0 %}
            {% set x_min = 0 %}
        {% endif %}
    
        {% set y_min = printer.toolhead.axis_minimum.y %}
        {% if y_min < 0 %}
            {% set y_min = 0 %}
        {% endif %}
    
        {% set x_min = x_min + bound %}
        {% set x_max = printer.toolhead.axis_maximum.x - bound %}
        {% set y_min = y_min + bound %}
        {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    
    # Small pattern at center
        # Find X/Y center point
        {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
        {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
        
        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED
    
    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    
    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        {% if printer.configfile.settings.quad_gantry_level %}
            {% if printer.quad_gantry_level.applied == False %}
                QUAD_GANTRY_LEVEL
                G28 Z
            {% endif %}
        {% endif %} 
        # Move 50mm away from max position and home again (to help with hall effect endstop accuracy - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/24)
        G90
        G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    # Set new limits
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
    {% endif %}

    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        
        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
    
        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        
        # Small pattern box
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.minimum_cruise_ratio} 
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    {% endif %}

    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Go to XY home positions (in case your homing override leaves it elsewhere)
        G90
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED
    

[gcode_macro filament_unload]
gcode:
        {% if (printer.print_stats.state != "printing") %}
                M83
                G92 E0
                {% if (printer.extruder.can_extrude|lower != 'true') or (printer.extruder.target == 0)%}
                        M118 Waiting for heating!
                        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=210
                        TEMPERATURE_WAIT SENSOR=extruder MINIMUM=205
                {% endif %}
                G0 E10 F300
                G0 E-20 F200
                G0 E-50 F500
        {% else %}
                M118 Printing, will not perform retraction!
        {% endif %}


[gcode_macro PAUSE_AFTER_D]
description: Trigger to pause the print after a further 'd' mm has been extruded
variable_end_d: 0 #create variable "END_D" which is associated with the PAUSE_AFTER_D gcode macro
gcode:
  {% set d_start = printer.print_stats.filament_used|float %} #starting point is whatever the filament used is when PAUSE_AFTER_D is called
  {% set d_end = (d_start + params.D|float)|float %} #end point is start + D parameter
  SET_GCODE_VARIABLE MACRO=PAUSE_AFTER_D VARIABLE=end_d VALUE={d_end} #write the end value to the END_D gcode variable to access later
  M117 Pause at {printer["gcode_macro PAUSE_AFTER_D"].end_d|round(2)}
  UPDATE_DELAYED_GCODE ID=PAUSE_AT_D DURATION=1 #trigger the delayed gcode below after 1 second

[delayed_gcode PAUSE_AT_D]
initial_duration: 0 #if initial_duration is zero, the delayed gcode won't start by default
gcode:
  {% set d_current = printer.print_stats.filament_used|float %} #get the current filament used
  {% if d_current < printer["gcode_macro PAUSE_AFTER_D"].end_d %} #if we aren't at the stopping point
    M117 Stopping {d_current|round(2)} {printer["gcode_macro PAUSE_AFTER_D"].end_d|round(2)}
    UPDATE_DELAYED_GCODE ID=PAUSE_AT_D DURATION=1 #restart the timer on the delayed gcode
  {% else %}
    PAUSE
    UPDATE_DELAYED_GCODE ID=PAUSE_AT_D DURATION=0 #set the delayed gcode duration back to zero so it doesn't keep triggering
  {% endif %}

[delayed_gcode disable_filament_encoder_sensor_on_startup]
initial_duration: 1
gcode:
    # Disable filament motion sensor after startup
    SET_FILAMENT_SENSOR SENSOR=filament_motion ENABLE=0
    
    # Display status message on printer LCD
    M117 Filament motion sensor disabled

[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}