#####################################################################
#      Notes
#####################################################################
## Please add [include SHT36V3.cfg] under printer.cfg
## The tool plate will use the following configurations, 
## and if the following configurations are used in other configurations, conflicts may occur.
## [resonance_tester] && [extruder] && [tmc2209 extruder] && [fan] && [heater_fan my_hotend_fan]
## [probe] && [bltouch] && [stepper_x]

#####################################################################
#      Master ID Configuration
#####################################################################
[mcu SHT36]
## CAN ID#
## ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0
canbus_uuid: 3ffc723ba4b4
#--------------------------------------------------------------------
# # RS232 ID
## Please fill in the baud rate according to the firmware configuration.
# serial: /dev/serial/by-path/platform-1c1c000.usb-usb-0:1.2:1.0-port0
# baud: 250000
# restart_method:command

#####################################################################
#      Temperature monitoring
#####################################################################
[temperature_sensor SHT]
sensor_type: temperature_mcu
sensor_mcu: SHT36

#####################################################################
#      Accelerometer
#####################################################################
## https://www.klipper3d.org/Measuring_Resonances.html?h=adxl#adxl345
[lis2dw]
cs_pin: SHT36:gpio12
spi_bus:spi0_gpio4_gpio3_gpio2
#spi_software_sclk_pin: SHT36:gpio2
#spi_software_mosi_pin: SHT36:gpio3
#spi_software_miso_pin: SHT36:gpio4

#--------------------------------------------------------------------
[resonance_tester]
accel_chip: lis2dw
probe_points: 150, 150, 20
# Somewhere slightly above the middle of your print bed
min_freq: 5
max_freq: 133
accel_per_hz: 75
hz_per_sec: 1 


#####################################################################
#      FAN
#####################################################################
#[fan]
#pin:SHT36:gpio21

###------------------------------------------------------------------
#[heater_fan my_hotend_fan]
#pin: SHT36:gpio13
#heater: extruder
#heater_temp: 50.0

#####################################################################
#      Eddy Probe
#####################################################################

[probe_eddy_current eddy_probe]
sensor_type: ldc1612
i2c_address: 43
i2c_mcu: SHT36
i2c_bus: i2c1e
x_offset: 0      # Remember to set the x offset
y_offset: 51    # Remember to set the y offset 
z_offset: 5  # Original 2.5   2.93 Remember to set the z offset 
i2c_speed: 4000000
#samples: 3
#samples_tolerance: 0.025
#samples_tolerance_retries: 3
tap_threshold: 10 # Original 20 0 means tap is disabled

[temperature_probe eddy_probe]
sensor_type: Generic 3950
sensor_pin:SHT36:gpio28
horizontal_move_z: 5
calibration_position: 150, 130, 0.5
calibration_extruder_temp: 170
calibration_bed_temp: 110
extruder_heating_z: 50

#####################################################################
#      Filament Sensor
#####################################################################

[filament_motion_sensor filament_motion]
extruder: extruder
detection_length: 2.0
switch_pin: !SHT36:gpio16
pause_on_runout: False
event_delay: 3.0
runout_gcode:
        {% if (printer.print_stats.state == "printing") %}
                PAUSE
        {% endif %}
        M118 Clogging
insert_gcode:
  # Notify user that blockage recovery has started
  M118 Clogging Recovery
  M118 filament_motion Feeding

  # If the printer is not printing or paused
  # wait for the nozzle to reach extrusion temperature
  {% set state = printer.print_stats.state|lower %}
  {action_respond_info("Printer state at filament_motion: " ~ state)}
  {% if state != "paused" and state != "printing" %}
    M109 S240         # Heat nozzle before extruding
  {% endif %}
  
  G1 E20 F100

  
[filament_switch_sensor Material_Runout_Detection]
pause_on_runout: False
switch_pin: !SHT36:gpio20
runout_gcode:
        SET_FILAMENT_SENSOR SENSOR=filament_motion ENABLE=0

        # Notify user that filament has run out
        M118 Lack of material

        
        {% if (printer.print_stats.state == "printing") %}
                PAUSE_AFTER_D D=27   # D = Distance between runout sensor and extruder gear
        {% endif %}

insert_gcode:
        #
        SET_FILAMENT_SENSOR SENSOR=filament_motion ENABLE=1
        
        M118 Feeding
        FORCE_MOVE STEPPER=extruder DISTANCE=8 VELOCITY=5 ACCEL=60
        {% if (printer.extruder.can_extrude|lower != 'true') or (printer.extruder.target == 0)%}
                M118 Waiting for heating!
                SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200
                TEMPERATURE_WAIT SENSOR=extruder MINIMUM=190
        {% endif %}
        M83
        G0 E40 F500
        G0 E10 F200

#####################################################################
#      Unload button
#####################################################################

#[gcode_button filament_unload]
#pin: ^!SHT36:gpio22
#release_gcode:
#  filament_unload
#press_gcode:


    